{% extends "app/base.html" %}
{% block content %}
<div class="card">

  <div class="card-header">
    {{ insurance.name }}
  </div>

  <div class="card-body">
    <p class="card-text"> {{ insurance.description }} </p>
    <h5 class="card-title">Details</h5>
    <p class="card-text"><b> Price : </b> {{ insurance.price }}  HMS </p>
    <p class="card-text"><b>Max repayment :</b> {{ insurance.maxRepayment }}  HMS </p>
    <p class="card-text"><b>Duration : </b>{{ insurance.duration }}  DAYS</p>

    <a href="{% url 'orderCompleted' pk=insurance.pk %}" class="btn btn-primary">Buy now</a>
  </div>

</div>
{% endblock %}